Django
django-allauth[socialaccount,mfa]
django-htmx
django-otp  # this is required for the allauth two-factor migration, but can be removed after that
django-template-partials
django-waffle
django-environ
djangorestframework
djangorestframework-api-key
django-health-check
drf-spectacular
django-anymail[mailgun]
django-storages
celery-progress
celery
celery[redis]
django-celery-beat
psycopg2-binary
whitenoise[brotli]

#AWS
boto3

#Azure
azure-identity
azure-mgmt-resource
azure-mgmt-monitor
azure-mgmt-loganalytics
azure-graphrbac
msrestazure

#GCP
google-cloud-resource-manager
google-cloud-storage
google-cloud-logging
google-cloud-compute
google-auth